[Unit]
Description=Lenovo Legion CPU Frequency Scaling
After=multi-user.target
Documentation=https://github.com/johnfanv2/LenovoLegionLinux

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'for policy in /sys/devices/system/cpu/cpufreq/policy*; do echo 1400000 > $policy/scaling_max_freq; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
